html, body {
    font-family: 'Tajawal', sans-serif;
    background-color: #fff;
}

body {
    background-image: linear-gradient(to bottom, #9393930d, #fff);
}

.main-nav {
    background-color: #fff;
}

ul.navbar-nav a {
    font-weight: bold;
    color: #000 !important;
}

ul.navbar-nav a:hover {
    font-weight: bold;
    color: #2DA7AD !important;
}

ul.navbar-nav a.nav-link.active {
    color: #2DA7AD !important;
}

div.left-col {
    background-image: url(../img/logo-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.label {
    border-radius: 8px;
    padding: 8px 18px;
    font-weight: bold;
}

.label.primary {
    background-color: #2da7ad14 !important;
    color: #508ABB !important;
}

input[type=text]:not(.custom-field):not(.custom-light-field) {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #afb0af14 !important;
    box-shadow: none !important;
    font-size: 14px;
  }

  .borderless {
    border: none !important;
  }

  .bg-primary {
    background-color: #2DA7AD !important;
    color: #fff !important;
    height: 54px;
  }

  .bg-outlined-primary {
    background-color: transparent !important;
    border: 1px solid #2DA7AD !important;
    color: #2DA7AD !important;
    height: 48px;
  }

  .card.donate {
    width: 22rem;
    padding: 12px 12px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: 500;
  }

  .card.donate input[type=text] {
    height: 44.89px !important;
    width: 206px;
    margin-bottom: 24px;
  }

  .donate-form {
    background-image: url(../img/donate-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 552px;
  }

  .send-money-btn {
    left: 10px;
    top: 17px;
    border-radius: 20px;
    width: 124.85px;
    height: 54.42px;
  }

  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  a:link {
    text-decoration: none !important;
  }

  @media screen and (min-width: 992px) {
    .footer {
      height: 467.31px;
    }
  }

  @media screen and (max-width: 768px) {
    .donate-cat img {
      height: 64px;
      width: 64px;
    }

    .donate-cat span {
      font-size: 16px !important;
    }

    .sec-1 {
      margin-left: 12px !important;
      margin-right: 12px !important;
    }

    .navbar-toggler-icon {
      font-size: 14px !important;
    }

    .navbar-brand img {
      width: 216px;
    }

    .sheetSlider {
      height: calc(100vh - 78px);
    }
  
    .sh__item img {
      height: 100%;
    }

    .sh__meta {
      top: 40%;
      left: 25% !important;
    }
  }

  .sh__meta {
    top: 40%;
    left: 40%;
  }

  .sh__meta {
    text-align: center;
  }

  @media screen and (max-width: 681px) {
    .main-heading p {
      font-size: 20px !important;
    }

  }


  @media screen and (max-width: 576px) {
    .donate-form input {
      width: 322px !important;
    }

    .donate-form h1 {
      font-size: 38px !important;
    }

    .donate-form p {
      font-size: 16px !important;
    }
  }

  .navbar-brand {
    margin: 0;
  }

  #fastDonationModal .cover {
    background-image: url(../img/fast-donation-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-card {
    border: none !important;
    border-radius: 20px;
    box-shadow: 0px 2px 43px 4px rgba(232,232,232,0.49);
-webkit-box-shadow: 0px 2px 43px 4px rgba(232,232,232,0.49);
-moz-box-shadow: 0px 2px 43px 4px rgba(232,232,232,0.49);
  }

  .custom-field {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 65px;
    padding-right: 3.5rem;
    height: 56px;
  }

  .custom-light-field {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 65px;
    height: 48px;
  }

  .custom-textarea {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 18px;
    padding-right: 3.5rem;
  }

  .form-icon {
    right: 18px;
    top: 16px;
    border-left: 1px solid #ececec;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
  }

  .form-textarea-icon {
    right: 18px;
    top: 22px;
    border-left: 1px solid #ececec;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
  }

  .form-icon-left {
    left: 18px;
    top: 18px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
  }

  ul.sub-menu li button {
    border: none !important;
    font-weight: bold;
    border-radius: 26px;
    height: 56px;
    width: 222px;
  }

  ul.sub-menu li button.active {
    background-color: #2da6ad17 !important;
    color: #2DA7AD !important;
  }

  .account-button {
    width: 31px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #2DA7AD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donation-item {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 12px;
  }

  .donation-item .amount {
    color: #808080;
  }

  .donation-item .price {
    color: #000 !important;
  }

  .table thead {
    background-color: #2da6ad2f;
    color: #2DA7AD;
    height: 48px;
  }

  .table thead tr th:first-child {
    border-top-right-radius: 20px;
    padding-right: 36px;
  }

  .table thead tr th:last-child {
    border-top-left-radius: 20px;
    padding-left: 36px;
  }

  .items-counter {
    background-color: transparent;
    border: 1px solid #2DA7AD;
    border-radius: 23.5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 32px;
    width: 88px;
  }

  .items-counter img {
    cursor: pointer;
  }

  .amount-counter {
    background-color: rgba(45, 167, 173, 0.06);
    border: 1px solid #2DA7AD;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 64px;
    width: 179px;
  }

  .amount-counter img {
    cursor: pointer;
  }

  .fast-donation-panel {
    cursor: pointer;
    position: fixed;
    top: 185px;
    right: 0;
    z-index: 9989;
  }

  .panel-title {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 29%);
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    text-align: start;
    transition: all .3s ease;
    width: 124px;
}

  .panel-toggler {
    background: #508ABB;
    border-end-end-radius: 50%;
    border-end-start-radius: 0;
    border-start-end-radius: 50%;
    border-start-start-radius: 0;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 29%);
    padding: 0;
    text-align: center;
    width: 40px;
  }

  .fast-donation-panel.open .panel-content {
    display: block;
  }

  .fast-donation-panel.open .panel-title {
    width: 270px;
    text-align: center;
  }

  .fast-donation-panel.open .panel-toggler {
    border-end-end-radius: 0;
  }

  .fast-donation-panel.open .panel-toggler img {
    transform: rotate(45deg);
  }

  .panel-content {
    background-color: #fff;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    box-shadow: 0 5px 6px 0 rgb(0 0 0 / 15%);
    display: none;
    inset-block-start: 36px;
    inset-inline-start: 0;
    position: absolute;
    transition: all .2s ease-in-out .3s;
    width: 310px;
  }

  button.navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  /* .NativeDatepicker {
    width: 20px;
    height: 20px;
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMHYxaDhWMGgxdjFoMmEyIDIgMCAwMTIgMnYxNGEyIDIgMCAwMS0yIDJIMmEyIDIgMCAwMS0yLTJWM2EyIDIgMCAwMTItMmgyVjBoMXptMTIgN0gxdjEwYTEgMSAwIDAwMSAxaDE0YTEgMSAwIDAwMS0xVjd6TTQgMTZ2MUgydi0xaDJ6bTMgMHYxSDV2LTFoMnptMyAwdjFIOHYtMWgyem0tNi0ydjFIMnYtMWgyem0zIDB2MUg1di0xaDJ6bTMgMHYxSDh2LTFoMnptMyAwdjFoLTJ2LTFoMnptMyAwdjFoLTJ2LTFoMnpNNCAxMnYxSDJ2LTFoMnptMyAwdjFINXYtMWgyem0zIDB2MUg4di0xaDJ6bTMgMHYxaC0ydi0xaDJ6bTMgMHYxaC0ydi0xaDJ6TTQgMTB2MUgydi0xaDJ6bTMgMHYxSDV2LTFoMnptMyAwdjFIOHYtMWgyem0zIDB2MWgtMnYtMWgyem0zIDB2MWgtMnYtMWgyek03IDh2MUg1VjhoMnptMyAwdjFIOFY4aDJ6bTMgMHYxaC0yVjhoMnptMyAwdjFoLTJWOGgyek00IDJIMmExIDEgMCAwMC0xIDF2M2gxNlYzYTEgMSAwIDAwLTEtMWgtMnYzaC0xVjJINXYzSDRWMnoiIGZpbGw9IiNBMEFFQzAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') no-repeat center center;
    vertical-align: middle;
  } */

  [x-cloak] { display: none !important; }

  .custome-date {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 10px;
    opacity: 0;
  }